<mat-toolbar color="primary">
  <button mat-button routerLink="/">Mon catalogue</button>

  <span class="example-spacer"></span>

  <button
    mat-icon-button
    routerLink="/articles"
    title="Liste des articles"
    alt="Liste des articles"
  >
    <mat-icon>wine_bar</mat-icon>
  </button>

  @if (!authSrv.isLoggedIn) {
    <button mat-icon-button routerLink="/identification" title="Se connecter" alt="Se connecter">
      <mat-icon>login</mat-icon>
    </button>
  } @else {
    <button mat-icon-button (click)="onLogoutClick()" title="Se déconnecter" alt="Se déconnecter">
      <mat-icon>logout</mat-icon>
    </button>
  }
</mat-toolbar>
