<h1>Identification</h1>

<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <div class="container">
    <mat-form-field>
      <mat-label>Identifiant</mat-label>
      <input matInput placeholder="Ex. bob" [required]="true" name="login" [(ngModel)]="login" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input
        matInput
        type="password"
        [required]="true"
        placeholder="Le mot de passee de votre compte"
        name="password"
        [(ngModel)]="password"
      />
    </mat-form-field>

    <button mat-raised-button color="primary">Envoyer</button>
  </div>
</form>
