.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
    
.div1 { grid-area: 4 / 1 / 5 / 3; }

.title-container {
    display:flex;
    justify-content: space-between;
}