<h1 class="title-container">
  <span>
    @if (articleId) {
      Modification
    } @else {
      Création
    }
    d'un article
  </span>

  @if (articleId) {
    <button mat-mini-fab (click)="onDeleteClick()">
      <mat-icon>delete</mat-icon>
    </button>
  }
</h1>

@if (articleId) {
  <p>Dernière modification : {{ formGroup.value.updateAt | date: 'medium' }}</p>
}

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="parent">
    <mat-form-field>
      <mat-label>Domaine</mat-label>
      <input
        matInput
        placeholder="Ex. Château Margaux"
        formControlName="domain"
      />
      @if (formGroup.controls.domain.hasError('required')) {
        <mat-error>Ce champs est requis.</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input
        matInput
        placeholder="Ex. Grande Cuvée 2014"
        formControlName="name"
      />
      @if (formGroup.controls.name.hasError('required')) {
        <mat-error>Ce champs est requis.</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Note moyenne</mat-label>
      <input
        matInput
        type="number"
        placeholder="Note moyenne comprise entre 0 et 5"
        formControlName="averageRating"
      />
      @if (formGroup.controls.averageRating.hasError('required')) {
        <mat-error>Ce champs est requis.</mat-error>
      }
      @if (
        formGroup.controls.averageRating.hasError('min') ||
        formGroup.controls.averageRating.hasError('max')
      ) {
        <mat-error>Le nombre saisi doit être compris entre 0 et 5.</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Catégorie</mat-label>
      <select matNativeControl formControlName="category">
        @for (cat of categoryEnum | keyvalue; track cat) {
          <option [value]="cat.value">{{ cat.key }}</option>
        }
      </select>
      @if (formGroup.controls.category.hasError('required')) {
        <mat-error>Ce champs est requis.</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Image</mat-label>
      <input
        matInput
        placeholder="Ex. http://vinio.com/thumb.png"
        formControlName="image"
      />
      @if (formGroup.controls.image.hasError('required')) {
        <mat-error>Ce champs est requis.</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Prix</mat-label>
      <input
        matInput
        type="number"
        placeholder="Prix en euros"
        formControlName="price"
      />
    </mat-form-field>

    <button class="div1" mat-raised-button color="primary">Envoyer</button>
  </div>
</form>
