@if (authSrv.isLoggedIn) {
  <h1>Vins en vedette</h1>

  <div class="container mb-2">
    @for (art of articles; track art.name) {
      <app-article-thumbnail [article]="art"></app-article-thumbnail>
    }
  </div>

  <div class="text-center">
    <button mat-raised-button routerLink="/articles" color="primary">Voir plus de vins</button>
  </div>
} @else {
  Bonjour, pour accéder à l'application, merci de bien vouloir vous identifier.
}
