.article {
  display: flex;
  gap: 1rem;
  width: 200px;

  border-style: double;
  border-width: thick;
  padding: 1rem;
  cursor:pointer;

  & img {
    max-height: 200px;
  }
}

.article:hover {
  background-color: #eee;
}
