<div
  [ngClass]="['article', article.category]"
  [routerLink]="['/article/modification', article.objectId]"
>
  <div><img [src]="article.image" [alt]="article.name" /></div>
  <div>
    <h4>{{ article.domain }}</h4>
    <h3>{{ article.name }}</h3>
    <p>{{ article.price ?? '--' }} €</p>
    <p>{{ article.averageRating }}/5</p>
  </div>
</div>
