/* You can add global styles to this file, and also import other style files */
@import 'ngx-bar-rating/themes/br-default-theme';
@import 'ngx-toastr/toastr';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

$rouge: #7c0000;
$rose: #d44040;
$blanc: #997d00;

.rouge {
  border-color: $rouge;
  color: $rouge;
}

.rose {
  border-color: $rose;
  color: $rose;
}

.blanc {
  border-color: $blanc;
  color: $blanc;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
