.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 100%;
}

.tile {
  display: flex;
  gap: 1rem;
  justify-content: space-around;

  & .price {
    font-size: xx-large;
  }

  & img {
    max-height: 200px;
  }
}
