<!-- Bouton de changement de display -->
<div class="mb-1 text-right">
  <button mat-mini-fab routerLink="/article/creation" class="mr-1">
    <mat-icon>add</mat-icon>
  </button>

  <button mat-mini-fab color="primary" (click)="tilesDisplay = !tilesDisplay">
    <mat-icon>{{ tilesDisplay ? 'grid_view' : 'view_list' }}</mat-icon>
  </button>
</div>

@if (!tilesDisplay) {
  <!-- Cases -->
  <div class="container">
    @for (article of articles; track article.name) {
      <app-article-thumbnail [article]="article"></app-article-thumbnail>
    }
  </div>
} @else {
  <!-- Tuiles -->

  <mat-accordion>
    @for (article of articles; track article.name) {
      <mat-expansion-panel [expanded]="openedTileName === article.name">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span [ngClass]="article.category">{{ article.name }}</span>
          </mat-panel-title>
          <mat-panel-description>{{ article.domain }}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="tile">
          <div><img [src]="article.image" [alt]="article.name" /></div>
          <div>
            <p class="price">{{ article.price ?? '--' }} €</p>
            <p class="text-center">
              <bar-rating
                [rate]="article.averageRating"
                [max]="5"
                [readOnly]="true"
                [showText]="true"
              ></bar-rating>
            </p>
          </div>
        </div>
      </mat-expansion-panel>
    }
  </mat-accordion>
}
